
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= post.description %>
    <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
  <%end%>  

<% else %>
  <h1> No posts yet</h1>

<% end %>  
